<a routerLink="">Listar Carros</a>

<div id="marca">
    <label for="nome">Marca:</label>
    <input type="text" name="marca" [(ngModel)]="marca" />
</div>
<div id="modelo">
    <label for="descricao">Modelo:</label>
    <input type="text" name="modelo" [(ngModel)]="modelo" />
</div>
<div id="ano">
    <label for="quantidade">Ano:</label>
    <input type="text" name="ano" [(ngModel)]="ano" />
</div>
<div id="cor">
    <label for="preco">Cor:</label>
    <input type="text" name="cor" [(ngModel)]="cor" />
</div>
<button (click)="cadastrar()">Cadastrar</button>